.card-list {
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 100vh;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  overflow: auto;
  /* border: 1px solid #ccc; */
}

.card-list li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.card-list li:last-child {
  border-bottom: none; /* Remova a borda inferior do último item */
}

.card {
  flex: 0 0 calc(20% - 20px);
  padding: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 1%;
}

.card img {
  max-width: 100%;
  height: auto;
}

.card h4 {
  margin-top: 10px;
}

.card p {
  margin-top: 5px;
  color: #777;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(66, 134, 94, 0.8);
}
